@import "../../styles/variables";

.home {
    height: 100%;
    width: 100%;

    .home-header {
        height: 5rem;
        width: 100%;
        background-color: pink;
    }

    .home-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        padding-left: 2rem;

        .home-container-content {
            max-width: 1281px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card-match {
                height: 100%;
                width: 100%;
                margin-top: 3.5rem;


                .card-match-title {
                    width: 100%;
                    margin-bottom: 2rem;

                    h2 {
                        display: flex;
                        color: $color-white;
                        text-transform: uppercase;

                        img {
                            height: 1em;
                        }

                        span {
                            padding-left: 5px;
                        }
                    }


                }

                .card-match-container {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    .match {
                        // height: 7rem;
                        width: calc(33.33% - 1rem);
                        border-radius: 10px;
                        margin-bottom: 1rem;
                        margin-right: 1rem;
                        background-color: $color-grey-dark;
                        color: $color-grey-light;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 2rem 0 2rem 2rem;

                        @media (max-width: 1281px) {
                            width: calc(50% - 1rem);
                        }

                        @media (max-width: 576px) {
                            width: calc(100% - 1rem);
                        }

                        .match-teams {
                            width: 100%;
                            // border-right: 1.5px solid $color-grey-dark-secondary;


                            .match-teams-home {
                                display: flex;
                                align-items: center;
                            }

                            .match-teams-away {
                                display: flex;
                                align-items: center;
                            }

                            .match-teams-logo {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 2rem;
                                height: 2rem;
                                margin-right: 0.3rem;

                                img {
                                    width: 1.5rem;
                                }
                            }


                        }


                        .match-info {
                            width: 10rem;
                            height: 100%;
                            display: flex;
                            justify-content: flex-end;
                            // align-items: center;

                            .match-info-score {
                                height: 100%;
                                width: 2rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;
                                margin-right: 1rem;
                            }

                            .match-info-time {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                width: 8rem;
                                border-left: 1.5px solid $color-grey-dark-secondary;

                                p {
                                    text-align: center;
                                    width: 4rem;
                                }

                                .info-live {
                                    color: $color-red;
                                }
                            }


                        }

                    }
                }

            }
        }
    }
}