.home {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-left: 15rem;
    background-color: yellow;
}

// .home_container {
//     display: grid;
//     grid-template-columns: 50px 2fr 50px;
// }

// .home_container_content {
//     grid-column: 2 / 2;
//     background-color: red;
//     display: grid;
//     grid-template-columns: 1fr 3fr 1fr;
// }