@import "../../styles/variables";


.sidebar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 15rem;
    height: 100vh;


    .sidebar_menu {
        display: flex;
        flex-direction: column;
    }

    .sidebar_menu_button {
        button {
            background-color: red;

            img {
                height: 1rem;
                width: 1rem;
            }
        }

        ul {

            li {}
        }
    }
}